/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';

@layer font {
    @font-face {
        font-family: 'Open Sans';
        font-weight: 100 900;
        src: local('Open Sans'), url(./fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
    }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .fit-under-nav {
        /*
        66px is the height of the navbar
        calc(var(--vh, 1vh) * 100 is the height of the iPhone notch
        */
        height: calc((var(--vh) * 100) - 66px);
    }
}

@layer animations {
    .bouncing-loader {
        display: flex;
        justify-content: center;
    }

    .bouncing-loader > div {
        width: 16px;
        height: 16px;
        margin: 3px 6px;
        border-radius: 50%;
        opacity: 1;
        animation: bouncing-loader 0.6s infinite alternate;
    }

    @keyframes bouncing-loader {
        to {
            opacity: 0.1;
            transform: translateY(-4px);
        }
    }

    .bouncing-loader > div:nth-child(2) {
        animation-delay: 0.2s;
    }

    .bouncing-loader > div:nth-child(3) {
        animation-delay: 0.4s;
    }

}
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
